<a href="#" class="view-commits">View</a>
<!-- Modal -->
<div class="modal fade modal-commits" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel"><%= branch.repo_name %> <%= branch.name %></h4>
			</div>
			<div class="modal-body">


	<% if branch.unmerged_commits.count > 0 %>
	<div class="clear"></div>
	<table class="table-striped commit-list">
		<% branch.unmerged_commits.each do |commit| %>
		<tr>
			<td>
				<%= commit %>
			</td>
		</tr>
		<% end %>
	</table>
	<% end %>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->