<h1>Report generated 2013-09-21 12:34</h1>

<h2>3 repos in report</h2>
<ul>
	<% @report.repos.each do |repo| %>
		<li><%= repo %></li>
	<% end %>
</ul>

<h2>51 Old feature brances</h2>
<ul>
	<li>repo1 feature/ticket-1233</li>
	<li>repo1 feature/ticket-4334</li>
	<li>repo1 feature/ticket-5433</li>
	<li>repo2 feature/ticket-7653</li>
	<li>repo3 feature/ticket-5456</li>
</ul>

<h2>3 Unmerged releasebrances</h2>
<ul>
	<li>repo1 release/ticket-1233</li>
	<li>repo1 release/ticket-4334</li>
	<li>repo1 release/ticket-5433</li>
	<li>repo2 release/ticket-7653</li>
	<li>repo3 release/ticket-5456</li>
</ul>

<h2>1 Master branch with commits missing from develop</h2>
<ul>
	<li>repo1 release/ticket-1233</li>
</ul>