<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>GitFlow Repo Report</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <div class="container bs-docs-container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GitFlow report</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/list/">List of generated reports</a></li>
            <li><a class="btn btn-primary" href="/generate/" role="button">Generate new Report</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

        <%= yield %>

    </div> <!-- /container -->

    <footer class="bs-docs-footer" role="contentinfo">
      <div class="container">
        <div class="bs-docs-social">
          <ul class="bs-docs-social-buttons">
            <li>
              <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=andwin&amp;repo=gitflow-repo-report&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
            </li>
            <li>
              <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=andwin&amp;repo=gitflow-repo-report&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
            </li>
          </ul>
        </div>

        <ul class="bs-docs-footer-links muted">
          <li><a href="https://github.com/andwin/gitflow-repo-report">GitHub</a></li>
          <li>·</li>
          <li><a href="https://github.com/andwin/gitflow-repo-report/blob/master/README.md">Readme</a></li>
          <li>·</li>
          <li><a href="https://github.com/andwin/gitflow-repo-report/issues?state=open">Issues</a></li>
        </ul>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>

