<h1>Generated reports</h1>
<p class="lead">These are previously generated reports. Click one of them to view it.</p>

<div class="highlight">
  <ul class="report-list">
    <% @list.each do |report| %>
      <li><a href="/view/<%= report %>/"><%= report.sub( /(.{10})_(.{2})-(.{2})(.*)/, '\1 \2:\3' ) %></a></li>
    <% end %>
  </ul>
</div>