<strong><%= title %></strong>: <%= repos.count %>
<ul class="repo-list">
  <% repos.each do |repo_name| %>
    <li>
      <%= erb :repo_name, :layout => false, locals: {name: repo_name} %>
    </li>
  <% end %>
</ul>
<div class="clear"></div>